<!DOCTYPE html>

<header>
    <title>Stock Tracker</title>
    <meta charset="UTF-8">
</header>

<body>
    <nav>
        <h1>Stock Tracker</h1>
        <a href="/home">Home</a>
        <a href="/add-porfolio">Add New Portfolio</a>
        <a href="/">Sign Out (not implemented)</a>
    </nav>
</body>

</html>