<nav>
  <ul>
    <li class="image">
      <img src="favicon.ico" alt="icon">
      <p id="l1">
        Stock.</p>
      <p id="l2">Tracker</p>
    </li>
    <li class="menu" [@hover]="hoverState1" (mouseenter)="mouseEnter1()" (mouseleave)="mouseLeave1()">
      <a routerLink="/home" [@hover]="hoverState1">.Home</a>
    </li>
    <li class="menu" [@hover]="hoverState2" (mouseenter)="mouseEnter2()" (mouseleave)="mouseLeave2()">
      <a routerLink="/about" [@hover]="hoverState2">.About</a>
    </li>
    <li class="menu" [@hover]="hoverState3" (mouseenter)="mouseEnter3()" (mouseleave)="mouseLeave3()">
      <a href="https://github.com/nyu-csci-ua-0480-003-fall-2017/pb1713-final-project" target="_blank" [@hover]="hoverState3">.Github</a>
    </li>
  </ul>
  <div id="my-signin2"></div>
  <a id="signout" routerLink="/home" onclick="signOut()" [style.visibility]="signoutVisibility"></a>
</nav>
