.frame {
  margin-top: 70px;
  position: absolute;
}

.symbol:visited,
.pname:visited {
  color: rgb(68, 68, 199);
}

.symbol,
.symbol:hover,
.pname,
.pname:hover {
  color: rgb(68, 68, 199);
  text-decoration: underline;
}
